/* Responsividade */
@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
        height: auto;
        padding-bottom: 50px;
    }

    header {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        gap: 20px;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        margin: 0 auto 30px auto;
    }

    .grupo-opcao {
        justify-content: center;
    }

    .hero-visual {
        margin-top: 50px;
    }

    .circulo-bg {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 900px) {
    .sobre-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .sobre-content p {
        margin: 0 auto 20px auto;
    }

    .sobre-image::before {
        width: 280px;
        height: 280px;
    }
}


@media (max-width: 900px) {
    .marcas-grid {
        grid-template-columns: 1fr;
    }

    .marcas-header h2 {
        font-size: 2.4rem;
    }
}


@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-brand p {
        margin: 0 auto;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}